<form  name="container-form" method="POST" action="/courses/handle-form" class="m-4">
   <div class="d-flex flex-row justify-content-between">
      <h3>Danh sách khoá học </h3>
      <div>
         <a href="/me/trash/courses" class="btn btn-outline-danger btn-sm">Khoá học đã xoá ({{this.deletedCount}})</a>
         <a href="/courses/create" class="btn  btn-outline-primary btn-sm">Thêm khoá học ➕</a>
      </div>
   </div>
   <div class="mb-3">
      <div class="form-check d-flex">
         
         <select name="action" class="form-control  form-control-sm select-all-courses" required aria-label="Default select example">
            <option  value="" >--Hành động--</option>
            <option selected value="delete">Xoá</option>
         </select>
         <button class="btn btn-sm btn-primary  ms-2 btn-play" disabled>Chạy</button>
   
      </div>
   </div>
   <table class="table">
      <thead>
         <tr>
            <th> <input type="checkbox" class="form-check-input" id="checkbox-all" /></th>
            <th scope="col">STT</th>
            <th scope="col">username{{{sortable 'name' _sort}}} </th>
            <th scope="col">Email   {{{sortable 'author' _sort}}}   </th>
            <th scope="col">Password     {{{sortable 'videoid' _sort}}}  </th>
            <th scope="col">Time Created {{{sortable 'createdAt' _sort}}} </th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         {{#each courses}}
            <tr>
               <th> <input type="checkbox" class="form-check-input checkcourse" name="coursesId[]" value="{{this._id}}" /></th>
               <th scope="row">{{sum @index 1}}</th>
               <td>{{this.name}}</td>
               <td>{{this.email}}</td>
               <td>{{this.password}}</td>
               <td>{{this.createdAt}}</td>
               <td>
                  <a href="/courses/edit/{{this._id}}" class="btn">✏️</a>
                  <a href="/courses/replica/{{this._id}}" class="btn-replica">📚</a>
                  <a
                     type="button"
                     data-bs-toggle="modal"
                     data-bs-id="{{this._id}}"
                     data-bs-target="#delete-modal"
                     class="btn"
                  >🗑️</a>

               </td>
            </tr>
         {{else}}
            <tr>
               <td colspan="6" class="text-center">
                  bạn chưa đăng khoá học nào
                  <a href="/courses/create">Đăng khoá học ?</a>
               </td>
            </tr>
         {{/each}}
      </tbody>
   </table>
</form>

<!-- Modal -->
<div class="modal" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cảnh báo !!! </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            Bạn có chắc muốn xoá khoá học này ?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
            <button type="button" id="btn-delete" class="btn btn-danger">Xoá</button>
         </div>
      </div>
   </div>
</div>

{{! Delete hidden form  }}

<form name="deleteForm" action="" method="POST"></form>
<form name="replicaForm" action="" method="POST"></form>

<script>
   document.addEventListener('DOMContentLoaded',()=> {

    const checkCourses = $('.checkcourse')
    const checkallCourses =$('#checkbox-all')
    const btnplay = $('.btn-play')
    const containerform = $("form[name='container-form']")

 
    checkallCourses.change(function() {
      const ischecked = $(this).prop('checked')
        checkCourses.prop('checked',ischecked)
      checkbtnplay()
    })

    //course item checkbox change
    checkCourses.change(function(){
      var ischeckedAll = checkCourses.length === $('.checkcourse:checked').length
      checkallCourses.prop('checked',ischeckedAll)
      checkbtnplay()
    })

    //diable btn play   
    function checkbtnplay() {
     const countchecked = $('input[name="coursesId[]"]:checked').length
     if(countchecked > 0 ) {
        btnplay.attr('disabled',false)
     }else{
        btnplay.attr('disabled',true)
     }
    }

    
    //modal submit request
   const delModal = document.getElementById('delete-modal') 
   const deleteForm = document.forms['deleteForm'] 
   delModal.addEventListener('show.bs.modal', event => { 
    // Button that triggered the modal 
   const button = event.relatedTarget // Extract info from data-bs-* attributes const coursesId =
   const coursesId = button.getAttribute('data-bs-id') 
   const btndelete =document.getElementById('btn-delete') 
   btndelete.onclick=function(){ 
    deleteForm.action = '/courses/detroy/'+ coursesId + '?_method=DELETE' 
    deleteForm.submit()
     } })
     
     
     
     
  })
</script>