<div class="m-4">
   <div class="d-flex flex-row justify-content-between">
      <h3>
         Danh sách khoá học đã xoá
      </h3>
     <div>
         <a href="/me/stored/courses" class="btn btn-outline-primary btn-sm">
            Khoá học của bạn ({{this.coursesCount}})
         </a>
           <a href="/courses/create" class="btn btn-outline-primary btn-sm">Thêm khoá học ➕</a>

     </div> 
   </div>
   <table class="table">
      <thead>
         <tr>
            <th scope="col">
               STT
            </th>
            <th scope="col">
               Thumbnail
            </th>
            <th scope="col">
               Tên khoá học
            </th>
            <th scope="col">
               Tác giả
            </th>
            <th scope="col">
               VideoId
            </th>
            <th scope="col">
               Time Deleted
            </th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         {{#each courses}}
            <tr>
               <th scope="row">
                  {{sum @index 1}}
               </th>
               <td>
                  <img class="imgTable" width="70" src="{{this.img}}" alt="{{this.name}}" />
               </td>
               <td>
                  {{this.name}}
               </td>
               <td>
                  {{this.author}}
               </td>
               <td>
                  {{this.videoId}}
               </td>
               <td>
                  {{this.deletedAt}}
               </td>
               <td>
                  <a href="" data-bs-id="{{this._id}}" class="btn btn-restore">
                     ⏳
                  </a>
                  <a
                     href=""
                     data-bs-toggle="modal"
                     data-bs-id="{{this._id}}"
                     data-bs-target="#delete-modal"
                     class="btn"
                  >
                     🚫
                  </a>
               </td>
            </tr>
         {{else}}
            <tr>
               <td colspan="6" class="text-center">
                  bạn chưa xoá khoá học nào!
               </td>
            </tr>
         {{/each}}
      </tbody>
   </table>
</div>

<!-- Modal -->
<div class="modal" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
               Cảnh báo !!!
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            Bạn có chắc muốn xoá vĩnh viễn khoá học này ?
         </div>
         <div class="modal-footer">
            <button type="button" id="btn-delete" class="btn btn-danger">
               Xoá
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
               Huỷ
            </button>
         </div>
      </div>
   </div>
</div>

{{!-- formhidden --}}
<form name="deleteForm" action="" method="POST"></form>
<form name="restoreForm" action="" method="POST"></form>

<script>
   document.addEventListener("DOMContentLoaded", (event) => { 
      const restoreForm = document.forms['restoreForm']
      const restorebtn = $('.btn-restore')
        restorebtn.click(function(e) { 
            e.preventDefault()
            const courseId = $(this).data('bsId') 
            restoreForm.action = '/courses/restore/'+ courseId + '?_method=PATCH'
              restoreForm.submit() 
          
          })
      const delModal =document.getElementById('delete-modal') 
      const deleteForm = document.forms['deleteForm']
      delModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const coursesId = button.getAttribute('data-bs-id')
        
        const btndelete =document.getElementById('btn-delete')
        btndelete.onclick= function(){
          deleteForm.action = '/courses/force/'+ coursesId + '?_method=DELETE'
          deleteForm.submit()
        }
      })
 

  })
</script>